# Dependency directories
node_modules/

# release directory

# mac stuff
*.DS_Store
._*
 Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
